extends _extend

block head
  title 程序配置
  +stylesheet('preferences')
  +script('preferences')

block body
  +window-header(title='偏好设置').is-large
    nav.prefs-nav
      a.is-active(href data-pane='general' title='普通设置')
        +icon('settings')
      a(href data-pane='advanced' title='高级设置')
        +icon('tune')
      a(href data-pane='plugins' title='插件选项')
        +icon('ic_add_box_24px')
  .prefs-sections
    section.js-prefs-section.settings
    section(data-pane='general')
      .preference.container
        .preference-part
          .preference-content
            .preference__title 保存目录
            .preference__description.js-save-to-description
          .preference-input
            button.button--secondary.js-choose-save 选择
      .preference.container
        .preference-part
          .preference-content
            .preference__title 自动启动
            .preference__description 随系统启动而启动
          +toggle('open-on-startup')

    //- Advanced preferences
    section.hidden(data-pane='advanced')
      .preference.container
        .preference-part
          .preference-content
            .preference__title 显示鼠标
            .preference__description 在录制时显示光标
          +toggle('show-cursor')
        .preference-part
          .preference-content
            .preference__description 高亮点击
          +toggle('highlight-clicks')
      .preference.container
        .preference-part
          .preference-content
            .preference__title 录制帧数
            .preference__description 以更高的帧数录制可能会影响性能
          +range(hasLabels=true min='16' max='60' lowLabel='低' middleLabel='30FPS' highLabel='高').preference-input.fps-slider
      .preference.container
        .preference-part
          .preference-content
            .preference__title 录制音频
            .preference__description 选择输入设备
          .preference-input
            +select-custom
              select.js-audio-input-device-selector
                option(value='none') 无

    //- Plugins preferences
    section.plugins-prefs.hidden(data-pane='plugins')
      nav.plugins-list(id='plugins-installed')
      nav.plugins-list(id='plugins-available')
      .container.u-padding-bottom.u-padding-top
        a.o-link.js-open-plugins(href) Open plugins folder